body {
    background-color: #f8f9fa;
}

.button-back {
    left: 1rem;
    top: 1rem;
    background-size: cover;
}


.container {
    margin-right: 300px;
    /* Make space for the floating panel */
}

#mainImage,
.choiceImage {
    width: 100%;
    height: auto;
    max-width: 300px;
    max-height: 300px;
    object-fit: cover;
}

.choiceImage {
    cursor: pointer;
    /* transition: transform 0.5s ease; */
}

#animationContainer {
    position: relative;
}

.practice-status {
    position: fixed;
    left: 85%;
    top: 10%;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.shake {
    animation: shake 0.5s;
}

@keyframes left-select {
    from {
        transform: translate(0, 0);
    }

    to {
        transform: translate(165px, -390px);
        /* 你可以根据需要调整这个值 */
    }
}

@keyframes right-select {
    from {
        transform: translate(0, 0);
    }

    to {
        transform: translate(-165px, -390px);
        /* 你可以根据需要调整这个值 */
    }
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-10px);
    }

    50% {
        transform: translateX(10px);
    }

    75% {
        transform: translateX(-10px);
    }

    100% {
        transform: translateX(0);
    }
}

#timer,
#score {
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#timerDisplay,
#scoreDisplay {
    font-size: 2rem;
    font-weight: bold;
}

#floatingPanel {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 250px;
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    /* Ensure it appears above other elements */
}

#timerDisplay,
#scoreDisplay {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

#timer h3,
#score h3 {
    margin-bottom: 10px;
}

.select-container {
    margin: 20px 0 0 0;
}

.select-left {
    text-align: right;
}

.select-right {
    text-align: left;
}

#nextButton {
    position: fixed;
    left: 45%;
    bottom: 10%;
}

.select-back-button-container {
    position: fixed;
    left: 10%;
    top: 10%;
}

.select-back-button {
    font-size: 2rem;
}

.select-back-button:hover {
    text-decoration: none;
    /* 移除链接下划线 */
    color: inherit;
    /* 保持文字颜色 */
}

.select-description-container {
    margin: 1rem 0 0 0;
}

.select-description {
    font-size: 1.5rem;
}

.modal-dialog {
    margin-top: 20%;
}