<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animal Farm</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="recognize.css">
    <link rel="stylesheet" href="../../index.css">
</head>

<body>
    <div class="animal-farm" id="animalFarm">
        <button id="backButton" class="button-back"></button>
        <div class="animals">

            <div class="animal" data-name="bird" style="top: 36px; left: 1164px; width: 150px; height: 120px;"></div>
            <div class="animal" data-name="bird" style="top: 135px; left: 1360px; width: 150px; height: 125px;"></div>
            <div class="animal" data-name="rabbit" style="top: 365px; left: 1406px; width: 150px; height: 200px;"></div>
            <div class="animal" data-name="sheep" style="top: 594px; left: 1531px; width: 150px; height: 124px;"></div>
            <div class="animal" data-name="cat" style="top: 510px; left: 1214px; width: 150px; height: 160px;"></div>
            <div class="animal" data-name="fish" style="top: 744px; left: 1134px; width: 105px; height: 112px;"></div>
            <div class="animal" data-name="duck" style="top: 744px; left: 970px; width: 105px; height: 112px;"></div>
            <div class="animal" data-name="duck" style="top: 632px; left: 953px; width: 105px; height: 112px;"></div>
            <div class="animal" data-name="tortoise" style="top: 470px; left: 878px; width: 150px; height: 150px;">
            </div>
            <div class="animal" data-name="bull" style="top: 249px; left: 963px; width: 185px; height: 150px;"></div>
            <div class="animal" data-name="panda" style="top: 314px; left: 685px; width: 150px; height: 150px;"></div>
            <div class="animal" data-name="horse" style="top: 540px; left: 520px; width: 200px; height: 180px;"></div>
            <div class="animal" data-name="chicken" style="top: 568px; left: 277px; width: 150px; height: 150px;"></div>
            <div class="animal" data-name="dog" style="top: 465px; left: 54px; width: 150px; height: 150px;"></div>
        </div>
        <div id="tooltip" class="tooltip"></div>
    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="recognize.js"></script>
</body>

</html>