<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Voice Controlled Flappy Bird</title>
  <link rel="stylesheet" href="./pronounce-practice-fish.css">
  <link rel="stylesheet" href="../../../index.css">
</head>
<body>
  <canvas id="gameCanvas"></canvas>
  <button id="backButton" class="button-close"></button>
  <button id="controlButton" class="button-control"></button>
  <script src="./pronounce-practice-fish.js"></script>
</body>
</html>
