body {
  margin: 0;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#gameCanvas {
  display: block;
  min-width: 1200px;
  width: 100%;
  height: 100%;
  background-image: url(../../../assets/img/background-fish.jpg);
  background-size: cover;
  /* background-repeat: no-repeat; */
}

#backButton {
  position: fixed;
  left: 1rem;
  top: 1rem;
}

#controlButton {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}