<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>发声练习 - 汽车</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="pronounce-practice-car.css">
    <link rel="stylesheet" href="../../../index.css">
</head>

<body>
    <canvas id="gameCanvas"></canvas>
    <button id="backButton" class="button-close"></button>
    <button id="controlButton" class="button-control"></button>

    <!-- Modal -->
    <div class="modal fade" id="gameOverModal" tabindex="-1" role="dialog" 
    aria-labelledby="gameOverModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="gameOverModalLabel">到终点啦</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    要重新开始吗？
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="noButton">玩点别的</button>
                    <button type="button" class="btn btn-primary" id="yesButton">再玩一遍</button>
                </div>
            </div>
        </div>
    </div>
    <div class="practice-tips"> 持续发出声音，看看会发生什么呢？ </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="pronounce-practice-car.js"></script>
</body>

</html>