<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>易趣eFun - 发声练习</title>
    <link rel="stylesheet" href="../../index.css">
    <link rel="stylesheet" href="pronounce.css">
</head>

<body>
    <button id="backButton" class="button-back"></button>

    <div class="carousel">
        <div class="arrow arrow-left" onclick="previousCard()">&#9664;</div>
        <div class="card card-plane"></div>
        <div class="card card-car"></div>
        <div class="card card-fish"></div>
        <div class="arrow arrow-right" onclick="nextCard()">&#9654;</div>
    </div>
    <div class="practice-select-tips">请选择一个场景开始吧！</div>
    <script src="./pronounce.js"></script>
</body>

</html>