<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Player</title>
    <link rel="stylesheet" href="pronounce.css">
</head>

<body>
    <a href="../../index.html" class="return-button">返回</a>
    <div class="carousel">
        <div class="arrow arrow-left" onclick="previousCard()">&#9664;</div>
        <div class="card" >飞机</div>
        <div class="card" >爬山</div>
        <div class="card" >小鱼</div>
        <!-- <div class="card" data-song="song4.mp3">4</div>
        <div class="card" data-song="song5.mp3">5</div>
        <div class="card" data-song="song6.mp3">6</div>
        <div class="card" data-song="song7.mp3">7</div>
        <div class="card" data-song="song8.mp3">8</div>
        <div class="card" data-song="song9.mp3">9</div>
        <div class="card" data-song="song10.mp3">10</div> -->
        <div class="arrow arrow-right" onclick="nextCard()">&#9654;</div>
    </div>
    <!-- <div class="controls">
        <button class="button" onclick="previousCard()">Previous</button>
        <button class="button" id="playPauseButton" onclick="togglePlayPause()">Play</button>
        <button class="button" onclick="nextCard()">Next</button>
    </div> -->
    <!-- <div class="progress-bar">
        <div class="progress" id="progress"></div>
    </div> -->

    <!-- <audio id="audio" preload="auto"></audio> -->
    <script src="./pronounce.js"></script>
</body>

</html>